.topbar {
    height: 10%;
}
.mainscreen {
    height: 90%;
}
.Inventory {
    height: 90%;
    width: 30%;
    float: left;
}
.Room {
    height: 90%;
    width: 40%;
}
.Map {
    height: 90%;
    width: 30%;
    float: right;
}
.unselecable {
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}
.item_slot img {
    height: 64px;
    width: 64px;
}