.topbar {
    height: 5%;
}
.mainscreen {
    height: 95%;
    display: grid;
    grid-template-columns: 20% 55% 25%;
}

.Inventory {
    height: 100%;
    background-color: gray;
}
.Room {
    height: 100%;
    background-color: darkgray;
}
.Map {
    height: 100%;
    background-color: steelblue
}
.unselecable {
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}

.item_slot {
    height: 20px
}

.item_img {
    height: 51px;
    width: 51px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
.item_text {
    position: relative;
    margin: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    left: 70px;
    top: -38px;
}