.topbar {
    height: 10%;
}
.mainscreen {
    height: 90%;
    display: grid;
    grid-template-columns: 200px 800px 400px;
}

.Inventory {
    height: 100%;
    background-color: gray;
}
.Room {
    height: 100%;
    background-color: darkgray;
}
.Map {
    height: 100%;
    background-color: steelblue
}
.unselecable {
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}
.item_img {
    height: 64px;
    width: 64px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
.item_text {
    margin: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}